extends layout

block content
  .container
    .row
      .col-lg-6.edit-container
        form
          textarea(rows='3', placeholder='Enter text here!', autofocus)
      .col-lg-6.preview-container
    .row
      .col-lg-12
        button.btn.btn-lg.btn-primary Save