extends layout

block content
  form(action='/', method='post').container
    .row
      .col-lg-6.edit-container
        textarea(name='txt', rows='3', placeholder='Enter text here!', autofocus)
        p
          button.btn.btn-lg.btn-primary Save
      .col-lg-6.preview-container

block append js
  script(src='/js/edit.js')