extends layout

block content
  .container
    .row
      .col-lg-6.col-lg-offset-3
        p.snippet-container
          = snippet.body
        a.btn.btn-lg.btn-primary.btn-toggle(href='/')
          span.glyphicon.glyphicon-pencil &nbsp;
          | create new snippet
block append js
  script(src='/js/view.js')