/**
 * Customization
 */
body {
  padding-top: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/**
 * Mixins
 */
/**
 * Text areas
 */
.border-right {
  border-right: 1px solid #eee;
}
.edit-container textarea,
.raw-container textarea {
  width: 100%;
  border: none;
  outline: 0;
  font-family: 'Source Code Pro', sans-serif;
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}
/**
 * Buttons
 */
.btn-primary {
  background-color: #32cd32;
  border-color: #32cd32;
}
.btn-primary:hover {
  background-color: #28a428;
  border-color: #28a428;
}
.btn-primary:focus {
  background-color: #28a428;
  border-color: #28a428;
}
