/**
 * Customization
 */

@transitionSpeed: 0.2s;
@limegreen: #32CD32;
@darklimegreen: darken(@limegreen, 10%);

body {
  padding-top: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/**
 * Mixins
 */

.animated (@speed: @transitionSpeed) {
  -webkit-transition: height @speed;
  -moz-transition: height @speed;
  transition: height @speed;
}

/**
 * Text areas
 */
.border-right {
  border-right:     1px solid #eee;
}

.edit-container textarea,
.raw-container textarea {
  width:            100%;
  border:           none;
  outline:          0;
  font-family:      'Source Code Pro', sans-serif;
  overflow:         hidden;
  word-wrap:        break-word;
  resize:           none;
  .animated();
}

/**
 * Buttons
 */

.btn-color(@color) {
  background-color:   @color;
  border-color:       @color;
}

.btn-primary {
  .btn-color(@limegreen);
}

.btn-primary:hover {
  .btn-color(@darklimegreen);
}

.btn-primary:focus {
  .btn-color(@darklimegreen);
}